@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
 ul {
    display: flex;
    justify-content: space-around;
}
header {
    background-color: #D3F3EE;
}

h1 {
    font-family: "Bungee Shade", cursive;
    padding-top: 5em;
    margin-bottom: 2em;
}

