.main_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

img {
    width: 70%;
}

aside{
    display:flex;
    flex-direction: column;
    gap:10em;
}

aside > div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}