@use "./variables" as *;

* {
    box-sizing: border-box;
    font-family: $Roboto;
  }
  .main {
    background-color: #d3f3ee;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 100%;
  }
  section {
    padding: 3em 1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // border: 1px solid red;  
  }
  section:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .imgContainer {
    width: 40%;
  }
  .content {
    width: 40%;
    padding: 2em;
    background-color: white;
    line-height: 1.6;
    border-radius: 5%;
    // border: 1px solid blue;
    .important_Links{
      color: $navy-blue;
      font-weight: 700;
    }
    h4{
      font-size: 1.2em;
    }
  }
  .mainHeader {
    text-align: center;
    font-family: $Roboto;
    margin-top: 3%;
  }
  