@use "./variables" as *;

* {
    
    box-sizing: border-box;
    padding: 0;
   margin: 0;
    
  }
  .main {
    background-color: #d3f3ee;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: auto;
    
    

    .mainHeader {
      text-align: center;
      font-family: $Roboto;
      margin-top: 3%;
    }
    .creator_section {
      padding: 3em 1em;
      display: flex;
      justify-content: space-evenly;
     
      
      .imgContainer {
        width: 40%;

        img {
          width: 100%;
        }
      }
      
      .content {
        width: 40%;
        padding: 2em;
        background-color: white;
        line-height: 1.6;
        font-size: 1.2em;
        
        .important_Links{
          color: $navy-blue;
          font-weight: 700;
        }
        h4{
          font-size: 1.2em;
        }

        .icons {
          i {
            color: $navy-blue;
            padding: .5em;
            font-size: 1.2em;
          }
    
          margin-top: 1.5em;
          display: flex;
          justify-content: center;
        }
      }
    }
    
  }
  
  
  
  
  
  
  
  