@use "./mixins" as *;


.arena-input-form{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 1.6em;
    padding: 3em 0;

    form{
        @include form
    }
    .next_btn{
        margin: 0 auto;
    }
}
.createArena{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    background-color: #d3f3ee;
    height: 86vh;

   
   
}