.main_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d3f3ee;
    padding-top: 5em;
    

    .game_board{
        border: 1px solid red;
        display: flex;
        // flex-direction: column;
        align-items:flex-start;
        justify-content: space-evenly;
        padding: 0 3em;

        .createdBots {
            width: 60%;
            // margin: 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-evenly;
            border: 1px solid #061d41;
            .showBot {
                width: 20%;
                display:flex;
                align-items: center;
                flex-direction: column;
                
                
                h3.title {
                    text-align: center;
                }
                .botIcon_wrapper{
                    width:20%;
                    img {
                        align-self: center;
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
                .botIcon_details{
                    width: fit-content;
                    font-size: .8em;
                }
        }
        }

        
    }

    .status_info{
        border: 1px solid blue;
    }
    
}


img {
    width: 50%;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 5em;
    width: 40%;
}


aside>div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}