@use "./variables" as *;


.arenaSettings {
    background-color: white;
    width: fit-content;
    border: solid 2px $navy-blue;
}

.battleLog {
    background-color: white;
    width: 40%;
    border: solid 2px $navy-blue;
}

.leaderBoard {
    background-color: white;
    width: 40%;
    border: solid 2px $navy-blue;
}

.GameClock {
    background-color: white;
    width: fit-content;
    border: solid 2px $navy-blue;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    

    h4 {
        background-color: $navy-blue;
        padding: 2%;
        color: white;
        text-align: center;
    }
}

.arena {
    border: solid 2px black;

    .tile {
        background-color: #D3D3D3;
    }
}