@use "./variables" as *;


.arenaSettings {
    background-color: white;
   
    border: solid 2px $navy-blue;
    height: auto;
    
}

.battleLog {
    background-color: white;
    height: 20em;
    border: solid 2px $navy-blue;
    overflow: scroll;
}

.leaderBoard {
    background-color: white;
    height: 100%;
    border: solid 2px $navy-blue;
}

.GameClock {
    background-color: white;
    width: fit-content;
    border: solid 2px $navy-blue;
    display: flex;
    flex-direction: column;
    
    

    h4 {
        background-color: $navy-blue;
        padding: 2%;
        color: white;
        text-align: center;
    }
}

.arena {
    .tile {
        background-color: white;
    }
}