@use './variables' as *;
@use './mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.botInfo_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
   
.test {
    align-self: center;
    background-color: #d3f3ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
        button{
            background-color: #061d41;
            color: white;
            font-weight: 600;
            font-size: 1em;
            padding: 0.5em 1.5em;
            border-radius: 10px;
            margin-bottom: .8em;
            border: none;
            width: fit-content;
        }
            button[disabled]:hover {
                background-color: #061d41;
                color: white;
            }
                button:hover {
                    background-color: white;
                    color: $navy-blue;
                    transition: 0.7s;
                    border-radius: 10px;
                    border: 1px solid $navy-blue;
                    text-align: center;
                }
        
                button:focus {
                    border: 3px solid white;
        
        
                }
                button:disabled {
                    cursor: not-allowed;
                }
                
                

}

h2 {
    align-self: flex-start;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border: none;
    
    // flex-wrap: wrap;
    
}

form {
    @include form;
    border: 2px solid $navy-blue;
    label {
        align-items: center;
    }
    
}
.bots_display{
    width: 80%;
    margin: 0 auto;
    display: flex;
    
    
    .createdBots {
        width:100%;
        align-self: center;
        height:fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
        // border: 1px solid #061d41;
        .showBot {
            width: 5em;
            margin: 0 0.2em;
            height: fit-content;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .expand {
                margin-bottom: 3%;
            }
                button {
                    padding: 0.45em;
                }
            button:hover {
                    background-color: white;
                    color: $navy-blue;
                    transition: 0.7s;
                    border-radius: 10px;
                    border: 1px solid $navy-blue;
                    text-align: center;
                }
            
                button:focus {
                    border: 3px solid white;
            
            
                }
            
            
            h3.title {
                text-align: center;
            }
            .botIcon_wrapper{
                width:2em;
                height: 2em;
                img {
                    align-self: center;
                    max-width: 100%;
                    // margin-bottom: 10px;
                }
            }
            .botIcon_details{
                width: fit-content;
                font-size: .8em;
            }
            
        }
    }
}    







.delete {
    width: 80%;
    align-self: center;
    margin-top: 10px;
}


.botDetails {
    display: flex;
    align-items: center;
}

.delete {
    width: fit-content;
    align-self: center;
    margin-top: 10px;
}

.expandButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: -13px;
        /* Adjust this value as needed */
        margin-right: 10px;
        /* Adjust this value as needed */
    margin-bottom: 15px;
}







}

.botsInfoButtons {
    display: flex;
    flex-direction: column;
}

.showBot {
    background-color: white;
    border: 2px solid $navy-blue;
    padding: 2%;
    button {
        
                background-color: #061d41;
                color: white;
                font-weight: 600;
                font-size: 1em;
                padding: 0.6em;
                border-radius: 10px;
                border: none;
                width: fit-content;
                align-self: center;
                justify-self: flex-end;
        
            }
    
}