@use './mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');



.test {
    // background-color: #d3f3ee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

h2 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background-color: #d3f3ee;
    margin-top: 2.5%;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: none;
    
    // flex-wrap: wrap;
    
}

form {
    @include form
    
//     border: 1px solid #061d41;
//     width: fit-content;
//     text-align: left;
//     margin: 2rem;
//     padding: 2%;
//     font-family: 'Roboto Mono', monospace;
//     background-color: white;
//         button {
//             width: 20%;
//             align-self: center;
//             margin-top: 6%;
//             @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
//         }
//         label {
//             display: flex;
//             white-space: nowrap;
//             margin: 2px;
//         }
    
        
//         input {
//             margin-left: 10px;
//         }
        
//         select {
//             margin-left: 10px;
//             padding: 5px 5px 5px 8px;
//         }
}


.createdBots {
    display: flex;
    // border: 2px solid red;


}




.delete {
    width: 80%;
    align-self: center;
    margin-top: 10px;
}

.showBot {
    // 
    width: fit-content;
    align-items: center;
    flex-wrap: no-wrap;
    display:flex;
    flex-direction: column;
    padding: 10px;
    img {
        align-self: center;
        width: 55%;
        margin-bottom: 10px;
    }

    h3.title {
        text-align: center;
    }

}

.botDetails {
    display: flex;
    align-items: center;
}

.delete {
    width: fit-content;
    align-self: center;
    margin-top: 10px;
}

.expandButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    brgin-left: auto;
    margin-top: -13px;
        /* Adjust this value as needed */
        margin-right: 10px;
        /* Adjust this value as needed */
    margin-bottom: 15px;
}

.expandButton .arrow {
    width: 0;
    height: 0;
    margin-right: 0.6rem;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    transition: transform 0.3s;
}

.expandButton.expanded .arrow {
    transform: rotate(180deg);
}

.titleArrow {
    display: flex;
        h3 {
            padding: 0 1rem;
        }
}