@use './mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');



.test {
    background-color: #d3f3ee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3em 0;
        // border: 1px solid red;  
        button{
            background-color: #061d41;
            color: white;
            font-weight: 600;
            font-size: 1em;
            padding: 0.5em 1.5em;
            border-radius: 10px;
            margin-bottom: .8em;
            border: none;
            width: fit-content;
        }
}

h2 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background-color: #d3f3ee;
   
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: none;
    
    // flex-wrap: wrap;
    
}

form {
    @include form
    
}


.createdBots {
    display: flex;
    // border: 2px solid red;


}




.delete {
    width: 80%;
    align-self: center;
    margin-top: 10px;
}

.showBot {
    // 
    width: fit-content;
    align-items: center;
    flex-wrap: no-wrap;
    display:flex;
    flex-direction: column;
    padding: 10px;
    img {
        align-self: center;
        width: 55%;
        margin-bottom: 10px;
    }

    h3.title {
        text-align: center;
    }

}

.botDetails {
    display: flex;
    align-items: center;
}

.delete {
    width: fit-content;
    align-self: center;
    margin-top: 10px;
}

.expandButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: -13px;
        /* Adjust this value as needed */
        margin-right: 10px;
        /* Adjust this value as needed */
    margin-bottom: 15px;
}

.expandButton .arrow {
    width: 0;
    height: 0;
    margin-right: 0.6rem;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    transition: transform 0.3s;
}

.expandButton.expanded .arrow {
    transform: rotate(180deg);
}

.titleArrow {
    display: flex;
        h3 {
            padding: 0 1rem;
        }
}