.error_main{
    width:100vw;
    height: 100vh;
    background-color: rgb(151, 161, 171);
    display: flex;
    align-items: center;
    justify-content: center;

    .error_content{
        text-align: center;
        font-size: 2em;
        // border: 1px solid blue;
        width: 100%;
        // line-height: 2;
    }
    .home_btn{
        color: white;
        font-weight: 600;
    } 
}
