.error_main{
    padding: 10em 0;

    .error_content{
        background-color: slategrey;
        width: 50%;
        margin: 0 auto;
        padding: 5em 0;
    }
    .home_btn{
        color: white;
        font-weight: 600;
    } 
}
