  @use "./variables" as *;    
  
  .footer {
    margin-top: auto;
    background-color: #061d41;
    text-align: center;
    min-height: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: white;
    }
    
        a:focus {
          outline: none;
        }
   
    .github_icon {
      color: white;
      text-decoration: none;
      font-size: 1.75em;
      padding: .25em 0 0 0;      
    }

        
    .footer_ul{
      justify-content: center;
      width: 30%;
      padding: .5em;
      display: flex;
      min-width: 300px;
      justify-content: space-evenly;
      margin-bottom: 0.5em;
      // border: 1px solid white;
      
      .github_link_personal{
        list-style: none;
        color: white;
        text-decoration: none;
        font-weight: 600;
        // background-color: black;
        
        
      }
      a{
        padding: 0.2em 0.5em;
      }
      .github_link_personal> a:hover{
        background-color: white;
        color:#061d41;
        transition: 1s;
        border-radius: 5px;

      }
    }
  }
  

  
  