@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main_body {
  background-color: #d3f3ee;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  .imgWrapper {
    /* border: 1px solid blue; */
    width: 50%;
    margin: 0 auto;
    margin-top: 4em;
  }

  li{
    text-align: left;
  }
  .homepageBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: .8%;
    padding: 0;
    
    .startBtn,
  .instructionBtn {
    background-color: #061d41;
    color: white;
    font-weight: 600;
    font-size: 1em;
    padding: 0.25em 1.5em;
    border-radius: 10px;
    margin-bottom: 1em;
    border: none;
    /* text-decoration: none; */
  }
    
  }
}




