@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main_body {
    background-color: #d3f3ee;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em 0;
  
  .imgWrapper {
    width: auto;
    margin: auto;
    align-self: center;
    display: flex;
    align-items: center;
    

    img{
      max-width: 100%;
    }
  }

  li{
    text-align: left;
  }
  .homepageBtns {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: .8%;
    padding: 0;
    
    .startBtn,
  .instructionBtn {
    background-color: #061d41;
    color: white;
    font-weight: 600;
    font-size: 1em;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    margin-bottom: .5em;
    border: none;
    width: fit-content;
    
  }
    
  }
  
}




