@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main_body {
  background-color: #d3f3ee;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    position: absolute;
    top: 15%;
    bottom: auto;
    left: 25%;
    right: auto;
    // margin: 0 auto;
  // background-color: #d3f3ee;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
  // width: 100%;
  // padding: 5em 0 0 0;
  .imgWrapper {
    width: 60%;
    margin: 0 auto;
    

    img{
      width: 100%;
    }
  }

  li{
    text-align: left;
  }
  .homepageBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: .8%;
    padding: 0;
    
    .startBtn,
  .instructionBtn {
    background-color: #061d41;
    color: white;
    font-weight: 600;
    font-size: 1em;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    margin-bottom: .5em;
    border: none;
    width: fit-content;
    /* text-decoration: none; */
  }
    
  }
  // border: 1px solid blue;
  
}




