@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

.main_body {
  background-color: $mint-green;
  display: flex;
  flex-direction: column;
  justify-content: center;

.imgWrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 4em;
}

.homepageBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  .startBtn,
    .instructionBtn {
      background-color: $navy-blue;
      color: white;
      font-weight: 600;
      font-size: 1em;
      padding: 0.25em 1.5em;
      border-radius: 10px;
      margin-bottom: 1em;
      border: none;
    }
      button:hover {
              background-color: white;
                  color: $navy-blue;
                  transition: 0.7s;
                  border-radius: 10px;
                  border: 1px solid $navy-blue;
                  text-align: center;
          }
      
          button:focus {
              border: 3px solid white;
                  
                  
          }
  
  
}
}

