.iconContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.iconContainer:hover {
    cursor: pointer;
}

.iconContainer>img {
    width: 35px;
    flex-basis: 0;
}