.leaderboard {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.winning {
    border: 2px solid red;
    border-radius: 2em;
    font-size: 1em;
    padding: 0 0.5em;
    font-weight: bold;
    color: linear-gradient(to right, red, orange);
}