@media (max-width: 428px) {
    .nav-links {
        display: none;
    }

    

    .burger-bar {
        z-index: 3;
        color: white;
    }

    .burger-nav {
        display: block;
        padding: 0;
        
    }

    .burger-menu {
    }

    //poll-creation
    

    

    
    };
