@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

header {
  
  margin: 0 auto;
  // margin-bottom: auto;
  background-color: #061d41;
  text-align: center;
  // min-height: 2%;
  width: 100%;
  display: flex;
  // justify-content: center;
  align-items: center;
  min-height: 3%;
  // padding: 0.5em 0;

  nav {
    display: flex;
    width:90vw;
    margin:1em auto;
    max-width: 1200px;
    
    #instructions_icon{
      display: none;
    }
      a {
        text-decoration: none;
        color: white;
        display: inline-block;
        white-space: nowrap;
        padding: 0.5em 1em;
        a:focus{
          outline: none;
        }
        h1{
          margin: 0;
        }
    
      }

        a:hover {
          background-color: white;
          color: $navy-blue;
          transition: 1s;
          border-radius: 5px;
          text-align: center;
          }


    h1 {
      font-family: "Bungee Shade", cursive;
      font-size: 30px;
      text-align: left;
      
      
    }

    ul {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
    
      li {
        list-style: none;
        padding-right: 2em;
        font-weight: 600;
      }
    }
  }
  

  
}
