@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

header {
  // align-self: flex-start;
  margin: 0 auto;
  margin-bottom: auto;
  background-color: #061d41;
  text-align: center;
  // min-height: 2%;
  width: 100%;
  display: flex;
  // justify-content: center;
  align-items: center;
  min-height: 3%;
  padding: 0.5em 0;

  nav {
    display: flex;
    width:100%;
    margin:0 auto;
    max-width: 1200px;
    

    h1 {
      font-family: "Bungee Shade", cursive;
      font-size: 30px;
      text-align: left;
      padding-left: 1em;
      
    }

    ul {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
    
      li {
        list-style: none;
        padding-right: 2em;
        font-weight: 600;
      }
    }
  }
  

  
}
