@use "./variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $ff;
    button {
        font-family: $ff;
    }
}

button.question-button {
    padding: 0 !important;
    width: 18.4px !important;
    border-radius: 50% !important;
    margin: 0 !important;
   
}

.github_icon {
    :hover {
            
            border: 1px solid white;
            
        }
    
        :focus {
            border: 3px solid white;
    
    
        }
}