.swal2-confirm {
    border: none !important;
    box-shadow: none !important;
    border-radius: 10px !important;
    font-weight: 600 !important;
    font-family:-apple-system,
        
        "Roboto",
        
        sans-serif;
    
   
    /* Add any other custom styles you want */
}

.my-swal-font-size {
    font-size: 2em !important;
}

.swal2-title {
    background-color: white;
}

