.swal2-confirm {
    border: none !important;
    box-shadow: none !important;
    border-radius: 10px !important;
    font-weight: 600 !important;
    font-family:-apple-system,
        
        "Roboto",
        
        sans-serif;
    
   
    /* Add any other custom styles you want */
}

p {
    margin-bottom: 5px;
}
.my-swal-font-size {
    font-size: 2em !important;
}

.swal2-title {
    background-color: white;
}

.swal2-popup {
    ol {
        margin: 5% 0;
    }
    
    li {
        text-align: left;
    }
}

