@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


//any page that uses variables as an import @use "./variables" as *;

// Colours
$navy-blue: #061d41;
$mint-green: #d3f3ee;


// Fonts Sizes
// $fs-global: 62.5%;
// $fs-3xl: 8rem;
// $fs-2xl: 6rem;
// $fs-xl: 4.5rem;
// $fs-lrg: 3rem;
// $fs-med: 2.2rem;
// $fs-small: 1.8rem;
// $fs-default: 1.0rem;

// Font Weights
// $fw-default: 500;
// $fw-btn: 600;

// Font Family
// $ff: 'Quicksand', sans-serif;
// $logoFont: 

$Roboto: 'Roboto Mono', sans-serif;
$ff: 'Quicksand', sans-serif;
$logoFont: "Bungee Shade", cursive;